.login-form {
  display: block;
  position: fixed;
  border:2px solid rgb(121, 155, 199);
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(121, 155, 199);
 } 
 #page-wrapper {
    min-height: 900px;

}
.side-nav {
  background-color:#6096d3  !important;
  border-right: 0px solid #d8d8d8fa;
}.navbar-inverse .navbar-nav>li {
    color:rgb(105 151 210);
    background-color:rgb(102 150 212);
}.navbar-inverse .navbar-nav>li>a {
    
    border-bottom: 10px solid #6096d3;
}
.side-nav a {
  color: #fbfdff  !important;
}
.side-nav a:hover, .side-nav .active a,.side-nav a:focus {
  color: rgb(246, 246, 246) !important;
  background-color: #6096d3 !important;
}
.navbar-inverse {
  background-color: #6096d3 !important;
}
.navbar-inverse .navbar-brand {
  color: rgb(230 233 237);
}
.top-nav>li>a{
  color: rgb(230 233 237);
}
.erlert-success{
	display:block;
	border-radius:10px;
	background-color:rgba(119, 193, 138, 0.9);
	padding: 10px;
}
.frm-new {
	display:block;
	background-color:rgba(208, 212, 209, 0.23);
	width:300px;
	border-radius:20px;
	position:fixed;
	z-index:1030;
	padding-left:30px
}
.erlert{
	display:block;
	border-radius:5px;
	background-color:rgba(163, 134, 72, 0.37);
	padding: 5px;
}
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #0c0b0b;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #0e0d0d;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #5380ac;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 5.50s ease;
}


/* Fading animation */
.fadee {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
