RewriteEngine On

RewriteCond %{REQUEST_URI} ^/MNHS/datatables/
RewriteCond %{REQUEST_URI} ^/MNHS/asset/
RewriteCond %{REQUEST_URI} ^/MNHS/assets/
RewriteCond %{REQUEST_URI} ^/MNHS/css/
RewriteCond %{REQUEST_URI} ^/MNHS/images/
RewriteCond %{REQUEST_URI} ^/MNHS/js/
RewriteCond %{REQUEST_URI} ^/MNHS/.htaccess/
RewriteCond %{REQUEST_URI} ^/MNHS/asset/am_chart
RewriteCond %{REQUEST_URI} ^/MNHS/asset/css
RewriteCond %{REQUEST_URI} ^/MNHS/asset/font-awesome
RewriteCond %{REQUEST_URI} ^/MNHS/asset/fonts
RewriteCond %{REQUEST_URI} ^/MNHS/asset/js
RewriteCond %{REQUEST_URI} ^/MNHS/assets/css
RewriteCond %{REQUEST_URI} ^/MNHS/assets/js
RewriteRule ^ - [F,L]